.generalContainer {
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

@media screen and (max-width: 1920px) {
  .divSearch {
    /* background-coor: coral; */
    height: 50px;
    width: 61%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .divProducts {
    /* background-color: coral; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width: 64%;
    margin: 5px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .divSearch {
    /* background-color: coral; */
    height: 50px;
    width: 95%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .divProducts {
    /* background-color: coral; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5px;
    flex-wrap: wrap;
  }
}

.divIconSearch {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-left-color: gray;
  border-left-width: 5px;
}

.inputSearch {
  background-color: white;
  width: 100%;
  border: none;
}

.divTitleModal {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
